.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 24px;
}


.gallery-item{
    width: calc((100% - 24px * 2) / 3);
    height: auto;
}

.gallery-link{}


.gallery-image{
    display: block;
    width: 100%;
}